
@{
    ViewData["Title"] = "GameOver";
}

    <div class="contentBox col-md-6 col-md-offset-3 my-5 p-4 bg-light text-dark border border-dark rounded-lg text-center" id="casinoBox">
        <div><img src="~/images/poker-chips.png" height="200" /></div>
        <h3>Game Over!</h3>
        <a class="btn btn-default mt-3" asp-controller="Home" asp-action="Index">Start New Game</a>
    </div>

