@{
    ViewData["Title"] = "Home Page";
}

<div class="contentBox col-md-6 border border-dark rounded-lg text-center">
    <div><img src="~/images/blackjack.png" height="200" /></div>
    <form method="post">
        <div style="padding: 25px 0px !important;">
            <input type="text" placeholder="username" name="username" />
        </div>
        <input type="submit" value="Play Game!" class="btn btn-success" />
    </form>
</div>

