
@{
    ViewData["Title"] = "Instructions";
}

<div class="contentBox col-6 offset-3 my-5 p-4 bg-light text-dark border border-dark rounded-lg">
    <h3>@ViewData["Title"]</h3>
    <div>
        @ViewData["Message"]
    </div>
</div>

